
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111827;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card {
  background: white;
  width: 100%;
  max-width: 700px;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #111827;
}

p {
  text-align: center;
  color: #6b7280;
  margin-bottom: 25px;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}